@model WebApplication2.Models.BooksContainer

<title>library</title>
<meta charset="utf-8" />
<link href="~/Content/MasonryStyle/1.css" rel="stylesheet" />

@{ Html.RenderPartial("BooksAvailable", Model);}



