@using System.Collections.Generic
@using WebApplication2.Models
@model List<_BooksHistory>

@{
    Layout = null;
}


<div>

    @if (Model != null && Model.Count > 0)
    {
        <table border="1">
            <caption>History</caption>
            <tr>
                <th>WhoTook</th>
                <th>DateOfIssue</th>
                <th>DateOfReturn</th>
            </tr>
            @foreach (_BooksHistory historyObj in Model)
            {
                <tr>
                    <td>@historyObj.WhoTook</td>
                    <td>@historyObj.DateOfIssue</td>
                    <td>@historyObj.DateOfReturn</td>
                </tr>
            }
            </table>
            }

            else
            {
            <p>This book has never taken</p>
            }
</div>

